<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>{{ error }}</p>
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" minlength="8" required>

        <label for="password_again">Повторите пароль</label>
        <input type="text" id="password_again" name="password_again" minlength="8" required>

        <label for="age">Введите свой возраст</label>
        <input type="text" id="age" name="age" maxlength="3" required>

        <button type="submit">Отправить</button>

        {% if hi %}
            <h3>{{ hi }}</h3>
            <br>
            <a href="http://127.0.0.1:8000/">Главная</a>
        {% endif %}
    </form>
</body>
</html>